.DS_Store
data/.DS_Store
__pycache__/
data/kc2.csv
data/parkinsons.data
dataLR.csv
dataSVM.csv
data/UCIdataset/
dataLR_kl.csv

UCIdatasets_aw.py

data/Discussion_dataset/	
dataSVM1.csv
dataSVMmm.csv
dataLR1.csv
